html{
  height: 100%;
  --c1: #112236;
  --c2: #436280;
  --c3: #A3BAD2;
  --c4: #DBE4ED;
  --c5: #F7F7F7;
}

body {
  font-family: "Calibri", "Roboto", sans-serif;
  min-height: 100%;
  height:100%
}

#ico{
  height : 50px;
  width :auto;
  margin-right: 20px
}

#h-title{
  /*font-size : 1.5em;*/
  font-size : 3.5vh;
}

.h-button{
  display: table;
  margin-left: auto
/*  width: 10%;
  margin-right: 45%;
  margin-left: 45%;*/
}

.my-header{
  height: 10%;
  min-height: 10%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px
}

.my-footer{
  height: 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  bottom: 0;
  overflow: auto
}

.chat-container{
  min-height:80%;
  position:fixed;
  top:10%;
  bottom:10%;
  overflow-y: scroll;
  width: 100%;
  width: -webkit-fill-available; /*Chrome*/
  width: -moz-available; /*Firefox*/
}

.middle-column{
    float: none;
    display: table-cell;
    vertical-align: middle;
}


/*PALETTE*/
.color1{
  color: var(--c1);
}
.color2{
  color: var(--c2);
}
.color3{
  color: var(--c3);
}
.color4{
  color: var(--c4);
}
.color5{
  color: var(--c5);
}

.back-color1{
  background-color: var(--c1);
}
.back-color2{
  background-color: var(--c2);
}
.back-color3{
  background-color: var(--c3);
}
.back-color4{
  background-color: var(--c4);
}
.back-color5{
  background-color: var(--c5);
}
