#ico{
  height : 50px;
  width :auto;
  margin-right: 20px
}

#h-title{
  font-size : 2em;
}

.h-button{
  display: table;
  margin-left: auto;
/*  width: 10%;
  margin-right: 45%;
  margin-left: 45%;*/
}

header{
  margin-right: 0px;
  margin-left: 0px;
  padding: 15px

}
.color1{
  background-color: #36453B;
  color: #36453B
}
.color2{
  color: #596869
}
.color3{
  color: #515751
}
.color4{
  color: #F5F9E9
}
.color5{
  color: #C2C1A5
}
